* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header#header, footer#footer {
  height: 10vh;
  width: 100vw;
  background-color: #323232;
}

main#principal {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main#principal button {
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.1em;
}

h1.titulo {
  color: #FFF;
}

h1.titulo:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

div#circulo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: blueviolet;
}

table#tabela {
  width: 30vw;
  background-color: rgb(189, 189, 189);
  /* border-radius: 10px; */
}

table#tabela thead tr th{
  padding: 10px;
}

table#tabela tr td {
  background-color: aliceblue;
  padding: 15px 50px;
}

table#tabela tr td.bold {
  font-weight: 900;
}

table#tabela, table#tabela tr, table#tabela tr td {
  border: 1px solid #323232;
  border-collapse: collapse;
  text-align: center;
}